<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse" style="background-color: aquamarine; padding-bottom: 30px; margin-bottom:10px">
        <div class="container-fluid">
            <div class="navbar-header text-center" style="padding-left:44%;">
                <a class="navbar-brand text-center" href="{% url 'index' %}" style="font-size:48px">Persona -
                    Galleria</a>
            </div>
        </div>
    </nav>
    <!-- Adding a search form  -->
    <div class='row' style="padding-bottom: 30px; margin-bottom:10px">
        <div class="col-sm-4 col-md-4 col-lg-4  navbar-right"></div>

        <div class="col-sm-4 col-md-4 col-lg-4  navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Categories" name="category">
                    <div class="input-group-btn">
                        <button class="btn btn-default bg-primary" type="submit"><i
                                class="glyphicon glyphicon-search">Search</i></button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4  navbar-right"></div>
    </div>
    <!-- search form end -->
</body>

</html>