{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="row" style="padding-bottom: 30px; margin-bottom:20px">
        {% if images%}
        <h2>Found {{ images|length }} of searched term "{{message}}"</h2>
        {% else %}
        <h2> Found no images for the search term "{{message}}"</h2>
        {% endif %}

    </div>

    <div class="row">
        {% if images %}
        {% load cloudinary %}
        {% for image in images %}
        <div class="col-sm-6 col-md-3">
            <img src="{{image.image.url}}" class="img-responsive" alt="image" style="max-width:100%">
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}